/* Estilos gerais */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    
}

header {
    background-color: #4CAF50;
    color: white;
    padding: 20px 0;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: white;
}

#sobre {
    background-color: #f2f2f2;
}

/* Estilos específicos para a seção "Nossos Serviços" */
#servicos ul {
    list-style: disc;
    margin-left: 20px;
}

/* Estilos específicos para a seção "Entre em Contato" */
#contato address {
    font-style: normal;
}


/* .container {
    display: flex;
    align-items: center;
} */

.image-container {
    max-width: auto;
    max-height: auto;
    position: relative;    
    transition: transform 0.5s;
}

.image-container img {
    max-width: 100%;
    max-height: 100%;    
}

.image-container:hover {
    transform: rotateY(180deg);
}

/* Estilo para a receita */
.recipe-title {
    font-size: 24px;
    margin-bottom: 10px;
}

.ingredientes {
    font-size: 18px;
}

.modo-preparo {
    font-size: 18px;
}

/* Estilos para o rodapé */
.pe{
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 20px;
    display: flex;
    justify-content: center;
    text-align: center;
}
.pe a {
    color: white;
    text-decoration: none;
    margin: 0 10px;

}

/* Estilo para os ícones */
.social-links i {
    font-size: 24px;
    margin: 0 10px;
}

.nav-link {
    color:  #4CAF50 !important;
  }
  
  /* Estilos para o carrossel */
  .carousel-item img {
    max-height: 480px; /* Ajuste o valor conforme necessário */
    width: auto; /* Mantenha a proporção */
  }
  
  /* Estilos para o container dos produtos */
  .product-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    text-align: center;
    border-radius: 15px;
    background-color: #4CAF50; /* Cor de fundo da seção de produtos */
    
  
  }
  
  /* Estilos para cada produto individual */
  .product {
    width: calc(25% - 20px);
    margin-bottom: 20px;
    border: 1px solid #ccc;
    text-align: center;
    position: relative;
    overflow: hidden;
    border-radius: 15px;
    background-color: #FFFFFF; /* Cor de fundo dos produtos */
  }
  
  /* Estilos para as imagens dos produtos */
  .product img {
    width: 100%;
    height: auto;
    object-fit: cover;
    display: block;
    margin: 0 auto;
    transition: transform 0.3s;
  }
  
  /* Efeito de zoom nas imagens ao passar o mouse */
  .product:hover img {
    transform: scale(1.1);
  }
  
  /* Efeito de crescimento no produto ao passar o mouse */
  .product:hover {
    transform: scale(1.05);
    cursor: pointer;
  }
  .figurinha-container {
    position: relative;
    max-width: auto; /* Aumente o tamanho da div para acomodar o conteúdo */
    max-height: auto; /* Ajuste a altura conforme necessário */
    perspective: 1000px;
}

.figurinha {
    width: auto;
    height: auto;
    background-color:  #4CAF50;
    color: white;
    border: 2px solid rgb(0, 255, 13);
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: transform 0.5s ease-in-out;
    transform-style: preserve-3d;
}


.mensagem {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color:  #4CAF50;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: rotateY(180deg);
    backface-visibility: hidden;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
    font-size: 24px; /* Aumente o tamanho da fonte da mensagem conforme necessário */
}

.figurinha:hover {
    transform: rotateY(180deg);
}

.figurinha:hover .mensagem {
    opacity: 1;
}

/* Estilização para a lista de ingredientes e modo de preparo */
h2 {
    margin: 0;
    padding: 10px 0;
    font-size: 28px; /* Aumente o tamanho da fonte dos títulos */
}

ul, ol {
    list-style-type: none;
    padding: 0;
}

li {
    padding: 10px 0;
    font-size: 20px; /* Aumente o tamanho da fonte dos itens da lista */
}
.efeito{
    background-color: #4CAF50;
    border-radius: 6px;
    color: #FFFFFF;
    padding: 16px;
    width: 220px;
    overflow: hidden;
    transition: 0.6s;
    transform: translate(0);
    font-weight: 400;
}
.efeito:hover{
    color: black;
}
.efeito p {
    margin: 0;
}
.efeito::before{
    content: "";
    position: absolute;
    top: -75px;
    left: -45px;
    z-index: -1;
    background-color: darkviolet;
    border-radius: 50%;
    width: 160px;
    height: 160px;
    transition: 0.6s;
}
.efeito:hover::before{
    transform: scale(5);
}
.foto-container {
    display: flex;
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center; /* Centraliza verticalmente */
    height: auto; /* Ajuste a altura desejada */
}

.foto img {
    max-width: 100%;
    height: auto;
}
